

{{#Rights 1}}
  <h4>Admin LogedIN  : </h4>
  Nur anzeigen wenn Rechte = 1
{{/Rights}}
{{#Rights 5}}
  <h4>User LogedIN  : </h4>
  Nur anzeigen wenn Rechte = 5
{{/Rights}}
{{#Rights 9}}
  <h4>Guest LogedIN  : </h4>
  Nur anzeigen wenn Rechte = 9
{{/Rights}}


{{#isAdmin}}
  <h4>ADMIN : </h4>
  Ja ist admin .....
{{/isAdmin}}

