<footer class=" page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2023 <a class="white-text" href="https://www.it-master.ch/" target="_blank">IT-Master</a>  <a class="white-text" href="https://www.m-h.ch/" target="_blank">Heizmann</a> 
      <a class="grey-text text-lighten-1 right" href="/Impressum">Impressum</a>
    </div>
  </div>
</footer>