<header>
  <div class="parallax-container">
    <span class="smalltime">
      <b>FeBe</b>
    </span>
    <p class="white-text" style="margin-left: 6%;">
      A small lightweight PHP framework application for rapid development with front and backend.
    </p>
    <div class="parallax"><img src="/img/header/background.jpg" /> </div>
  </div>
</header>
