  <nav class="">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="" href="/Home"><i class="material-icons" style="display: inline-block;vertical-align: bottom;">home</i>Home</a></li>
        <li><a class="dropdown-trigger " href="#!" data-target="UseFeBe">UseFeBe<i class="material-icons right">arrow_drop_down</i></a></li>
        {{#Rights 1}}
          <li><a class="" href="/Admin/System">System</a></li>
          <li><a class="dropdown-trigger " href="#!" data-target="AdminFeBe">Setting<i class="material-icons right">arrow_drop_down</i></a></li>
        {{/Rights}}
        {{#Rights 5}}
          <li><a class="" href="/User/User">User</a></li>
        {{/Rights}}
        {{#Rights 9}}
          <li><a class="" href="/Guest/Guest">Guest</a></li>
        {{/Rights}}
        
        {{#isLoggedIn}}
          <li><a class="dropdown-trigger " href="#!" data-target="Account" > 
            {{session.user_name}}
            <i class="material-icons right">arrow_drop_down</i>
            </a></li>
        {{/isLoggedIn}}
        {{#Rights 0}}
        <li><a class="" href="/Account/Login"> 
        <i class="material-icons" style="display: inline-block;vertical-align: bottom;">login</i>
        Login</a></li>
        {{/Rights}}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a class="" href="/Home"><i class="material-icons" style="display: inline-block;vertical-align: bottom;">home</i>Home</a></li>
    <li><a class="dropdown-trigger" href="#!" data-target="UseFeBeMobile">UseFeBe<i class="material-icons right">arrow_drop_down</i></a></li>
    {{#Rights 1}}
      <li><a class="" href="/Admin/System">System</a></li>
      <li><a class="dropdown-trigger " href="#!" data-target="AdminFeBeMobile">Setting<i class="material-icons right">arrow_drop_down</i></a></li>
    {{/Rights}}
    {{#Rights 5}}
      <li><a class="" href="/User/User">User</a></li>
    {{/Rights}}
    {{#Rights 9}}
      <li><a class="" href="/Guest/Guest">Guest</a></li>
    {{/Rights}}
    
    {{#isLoggedIn}}
      <li><a class="dropdown-trigger" href="#!" data-target="AccountMobile">
        {{session.user_name}}<i class="material-icons right">arrow_drop_down</i></a></li>
    {{/isLoggedIn}}
    {{#Rights 0}}
        <li><a class="black-text" href="/Account/Login">
        <i class="material-icons" style="display: inline-block;vertical-align: bottom;">login</i>
        Login</a></li>
    {{/Rights}}
  </ul>



<ul id="UseFeBe" class="dropdown-content">
  <li><a class="black-text" href="/UseFeBe/Info">Info</a></li>
  <li><a class="black-text" href="/UseFeBe/CSS">CSS</a></li>
  <li><a class="black-text" href="/UseFeBe/Session">Session</a></li>
</ul>
<ul id="UseFeBeMobile" class="dropdown-content"></ul>


<ul id="Account" class="dropdown-content doropdown-pc">
  <li>
    <a class="black-text" href="/Account/Account">
      <i class="material-icons" style="display: inline-block;vertical-align: bottom;margin: 0 5px 0 0; width: 24px;">face</i>
      Account
    </a>
  </li>
  <li>
    <a class="black-text" href="/Account/Logout" style="width: max-content;">
      <i class="material-icons" style="display: inline-block;vertical-align: bottom;margin: 0 5px 0 0; width: 24px;">logout</i>
      Logout
    </a>
  </li>
</ul>
<ul id="AccountMobile" class="dropdown-content"></ul>


<ul id="AdminFeBe" class="dropdown-content">
  <li><a class="black-text" href="/Admin/User">User</a></li>
  <li><a class="black-text" href="/Admin/Group">Group</a></li>
</ul>
<ul id="AdminFeBeMobile" class="dropdown-content"></ul>



<script>
  $('#UseFeBeMobile').html($('#UseFeBe').html());
  $('#AccountMobile').html($('#Account').html());
  $('#AdminFeBeMobile').html($('#AdminFeBe').html());
  
  $(".dropdown-trigger").dropdown({
    hover: true, // Öffnet das Dropdown-Menü beim Überfahren mit der Maus (Standard: false)
    coverTrigger: true, // Das Dropdown-Menü wird nicht den Trigger vollständig abdecken (Standard: true)
    constrainWidth: false // Das Dropdown-Menü wird nicht auf die Breite des Triggers beschränkt (Standard: true)
  });
</script>

<style>
  .doropdown-pc {
    white-space: nowrap;
    overflow-x: auto !important; 
  }
  .doropdown-pc {
    width: auto !important;
    }
</style>