<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <httpRedirect enabled="false" destination="/" exactDestination="true" />
        <rewrite>
            <rules>
                <rule name="HTTPS redirect" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="(.*)" negate="false" />
                    <conditions>
                        <add input="{HTTPS}" matchType="Pattern" pattern="off" ignoreCase="true" negate="false" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <!-- Rewrite to index.php -->
                <rule name="Rewrite to index.php" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?q={R:1}" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
