<html lang="de-CH">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="10 days" />
    <meta name="description" content="FeBe 2023" />
    <meta name="keywords" content="PHP, Framework, Login, Template" />
    <meta name="language" content="German" />
    <meta name="title" content="FeBe 2023" />
    <meta name="author" content="IT-Master Heizmann">
    <meta name="publisher" content="IT-Master Heizmann">
    <meta name="copyright" content="IT-Master Heizmann">
    <title>FeBe 2023</title>
    <link rel="shortcut icon" href="/icon/favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="/js/index.js"defer ></script>
    <link rel="stylesheet" href="/css/index.css" />
  <body>
    {{> nav}}
    {{> header}}
    <main class="text-justify">{{{main}}}</main>
    {{> footer}}
    {{> cookie}}
  </body>
</html>
